<carousel>
    <slide>
        <img src="../../assets/images/images/jolyne2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/images/yuno.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/images/zero.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<div class="d-flexfeatured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</div>